{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static 'css/blog.css' %}" rel="stylesheet">
</head>
<body>
<div id="content">
    {% block content %}
    {% endblock %}
</div>
{% if messages %}
    {% for message in messages %}
        {{ message.tags }} {{ message }}
    {% endfor %}
{% endif %}
<div id="sidebar">
    <h2>My blog</h2>
    <p>This is my blog.</p>
    <hr>
    {% if user.is_authenticated %}
        Привет, {{ user.username }}!
    <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <a href="#" onclick="parentNode.submit();">Выйти</a>
    </form>
    {% else %}
        <p>Зайдите в аккаунт</p>
        <a href="{% url 'login' %}">Войти</a>
    {% endif %}
    <hr>
</div>
</body>
</html>