{% extends "base.html" %}
{% block title %}Авто дилеры{% endblock %}

{% block content %}
    <h1 class="main-title">auto-<span id="blue">moshenik.ru</span></h1>
    <h2 class="title-h2">Отзывы об автосалонах: вся правда про серых дилеров</h2>
    <h3 class="title-h3">Города</h3>
    <div class="cities">
        {% for city in unique_cities %}
            <a href="#" class="city-back city-filter" data-city="{{ city }}">{{ city }}</a>
        {% endfor %}
    </div>

    <div id="carouselExample" class="carousel slide">
  <div class="carousel-inner">
      {% for banner in banners %}
    <div class="carousel-item active">
      <img src="{{ banner.image.url }}" class="d-block w-100 banner-custom" alt="{{ banner.title }}">
    </div>
      {% endfor %}
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon car-color" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next car-color" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon car-color" aria-hidden="true"></span>
    <span class="visually-hidden car-color" id="car-color">Next</span>
  </button>
</div>


    {% if selected_city %}
        <h2>Posts for {{ selected_city }}</h2>
    {% else %}
        <h2>All Posts</h2>
    {% endif %}

    {% for postt in filtered_posts %}
        <div class="post">
            <h3>{{ postt.title }}</h3>
            <p>{{ postt.content }}</p>
            <p>City: {{ postt.city }}</p>
        </div>
    {% empty %}
        <p>No posts found.</p>
    {% endfor %}
{% include "pagination.html" with page=posts %}
{% endblock %}