{% extends "base.html" %}
{% block title %}{{ post.title }}{% endblock %}

{% block content %}
    <h1>{{ post.title }}</h1>

    {% if post.thumbnail %}
        <img class="img-detail" src="{{ post.thumbnail.url }}" alt="Изображение записи">
    {% else %}
        <p>Нет изображения</p>
    {% endif %}
    <p class="text-detail">
        {{ post.body|linebreaks }}
    </p>

    {% with comments.count as total_comments %}
        <h2>
            Комментарии: {{ total_comments }}
        </h2>
        <hr>
    {% endwith %}
    {% for comment in comments %}
        <div class="comment">
            <p class="info">
                Комментарий {{ forloop.counter }} от {{ comment.name }}
            </p>
            {{ comment.body|linebreaks }}
        </div>
    {% empty %}
        <p>Комментариев нет.</p>
    {% endfor %}
    {% include "includes/comment_form.html" %}

    {% if post.map_html %}
        <div class="map-container">
          {{ post.map_html|safe }}
        </div>
    {% endif %}

{% endblock %}