{% extends "base.html" %}
{% block title %}Авто дилеры{% endblock %}

{% block content %}
    <h1 class="main-title">Авто-<span id="blue">мошенник.рф</span></h1>
    <h2 class="title-h2">Отзывы об автосалонах: вся правда про серых дилеров</h2>
    <h3 class="title-h3">Города</h3>
    <div class="cities">
        {% for post in posts %}
            <p class="city-back">{{ post.city }}</p>
        {% endfor %}
    </div>



    {% if not results %}
        {% for post in posts %}
            <img class="img-list" src="{{ post.thumbnail.url }}" alt="Изображение записи">
            <h2><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h2>
            <p class="post-text">{{ post.body|truncatewords:20|linebreaks }}</p>
        {% endfor %}
        {% include "pagination.html" with page=posts %}
    {% endif %}

{% endblock %}