{% extends "base.html" %}
{% block title %}Авто дилеры{% endblock %}

{% block content %}
    <h1 class="main-title">Авто-<span id="blue">мошенник.рф</span></h1>
    <h2 class="title-h2">Отзывы об автосалонах: вся правда про серых дилеров</h2>
    <h3 class="title-h3">Города</h3>
    <div class="cities">
        {% for post in posts %}
            <p class="city-back">{{ post.city }}</p>
        {% endfor %}
    </div>

    <div id="carouselExample" class="carousel slide">
  <div class="carousel-inner">
      {% for banner in banners %}
    <div class="carousel-item active">
      <img src="{{ banner.image.url }}" class="d-block w-100 banner-custom" alt="{{ banner.title }}">
    </div>
      {% endfor %}
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon car-color" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next car-color" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon car-color" aria-hidden="true"></span>
    <span class="visually-hidden car-color" id="car-color">Next</span>
  </button>
</div>


    <div class="main-wrapper">
        {% if not results %}
            {% for post in posts %}
                <div>
                    <img class="img-list" src="{{ post.thumbnail.url }}" alt="Изображение записи">
                    <h2><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h2>
                    <p class="post-text">{{ post.body|truncatewords:20|linebreaks }}</p>
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% include "pagination.html" with page=posts %}
{% endblock %}