{% extends "base.html" %}
{% block title %}Авто дилеры{% endblock %}

{% block content %}
    <h1 class="main-title">auto-<span id="blue">moshenik.ru</span></h1>

    {% if results %}
        <h3>Найден(о) {{ results.count }} результат(ов){{ results.count|pluralize }}</h3>
        {% for post in results %}
            <h4><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h4>
            {{ post.body|truncatewords:30|linebreaks }}
        {% empty %}
            <p>Нет результатов по вашему запросу.</p>
        {% endfor %}
        <p><a href="{% url 'blog:post_search' %}">Поиск заново</a></p>
    {% else %}
        <form method="get" class="search-form">
            <div class="form-group">
                <label for="id_query" class="control-label"></label>
                {{ form.query }}
            </div>
            <input type="submit" value="Поиск" class="search-button">
        </form>
    {% endif %}

    <h2 class="title-h2">Отзывы об автосалонах: вся правда про серых дилеров</h2>

    <p>
        Если вы пострадали от действий сотрудников автосалона или вас пытались обмануть при
        покупке автомобиля — обязательно оставьте отзыв. Модераторы проверят ваши отзывы, после чего другие
        пользователи смогут увидеть их. Это поможет другим людям не попасться на удочку аферистов.
    </p>
    <p>
        Воспользуйтесь формой обратной связи, если нужный автоцентр отсутствует в списке салонов сайта.
        Но сначала попробуйте найти его в нашей базе, вбив название в поисковой строке или по тегам городов.
    </p>

    <h3 class="title-h3">Города</h3>
    <div class="cities">
        {% for city in unique_cities %}
            <a href="?city={{ city }}" class="city-back city-filter">{{ city }}</a>
        {% endfor %}
    </div>

    <div id="carouselExample" class="carousel slide">
  <div class="carousel-inner">
      {% for banner in banners %}
    <div class="carousel-item active">
      <img src="{{ banner.image.url }}" class="d-block w-100 banner-custom" alt="{{ banner.title }}">
    </div>
      {% endfor %}
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon car-color" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next car-color" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon car-color" aria-hidden="true"></span>
    <span class="visually-hidden car-color" id="car-color">Next</span>
  </button>
</div>


    <div class="main-wrapper">
        {% if not results %}
            {% for post in posts %}
                <div>
                    <img class="img-list" src="{{ post.thumbnail.url }}" alt="Изображение записи">
                    <h2><a class="list-link" href="{{ post.get_absolute_url }}">{{ post.title }}</a></h2>
                    <p class="p-address">Адрес: <span id="address">{{ post.address }}</span></p>
                    <p class="p-tel">Телефон: <span id="tel">{{ post.tel }}</span></p>
                    <p class="p-city">Город: <span id="city">{{ post.city }}</span></p>
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% include "pagination.html" with page=posts %}
{% endblock %}