body {
    margin: 0;
    padding: 0;
    font-family: helvetica, sans-serif;
}

a {
    color: #00abff;
    text-decoration: none;
}

h1 {
    font-weight: normal;
    border-bottom: 1px solid #bbb;
    padding: 0 0 10px 0;
}

h2 {
    font-weight: normal;
    margin: 30px 0 0;
}

#content {
    float: left;
    width: 60%;
    padding: 0 0 0 30px;
}

#sidebar {
    float: right;
    width: 30%;
    padding: 10px;
    background: #efefef;
    height: 100%;
    border-radius: 20px;
}

p.date {
    color: #ccc;
    font-family: georgia, serif;
    font-size: 12px;
    font-style: italic;
}

/* pagination */
.pagination {
    margin: 40px 0;
    font-weight: bold;
}

/* forms */


input[type=submit] {
    font-weight: bold;
    background: #00abff;
    color: #fff;
    padding: 10px 20px;
    font-size: 14px;
    text-transform: uppercase;
}

.errorlist {
    color: #cc0033;
    float: left;
    clear: both;
    padding-left: 10px;
}

/* comments */
.comment {
    padding: 10px;
}

.comment {
    background: #fcfafa;
    border-radius: 20px;
    margin-bottom: 15px;
}

.comment .info {
    font-weight: bold;
    font-size: 12px;
    color: #666;
}

.img-list {
    width: 250px;
    height: 250px;
    margin-top: 50px;
}

.img-detail {
    width: 700px;
    height: 300px;
}

#id_query {
    margin-bottom: 10px;
}

.text-detail {
    font-size: 24px;
}

iframe {
    display: block;
    margin: 0 auto;
}

.form-group {
    display: grid;
    width: 37%;
}

.margin {
    margin-bottom: 10px;
}

.mt {
    margin-top: 10px;
}

.footer {
    background: red;
}

.header {
    padding: 20px 0 0 30px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.title-h2 {
    color: #00abff;
    background: #efefef;
    padding: 30px;
    border-radius: 20px;
    border-left: 5px solid;
}

.title-h3 {
    color: #00abff;
    background: #efefef;
    padding: 10px;
    border-radius: 20px;
    border-left: 4px solid;
    border-right: 4px solid;
    max-width: 300px;
    text-align: center;
}

.cities {
    display: flex;
    gap: 10px;
    max-width: 1000px;
    flex-wrap: wrap;
}

.city-back {
    background: #efefef;
    border-radius: 15px;
    padding: 10px;
}

.banner-custom {
    max-height: 300px;
}

.car-color {
    color: #00abff;
}

#car-color {
    color: #00abff;
}

.main-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.post-text {
    max-width: 230px;
}

.main-wrapper div p {
    max-width: 230px;
    line-height: 80%;
}

.main-wrapper div h2 a {
    text-decoration: none;
}

.main-wrapper div h2 a:hover {
    text-decoration: underline;
}

.main-wrapper div {
    margin-right: 40px;
}

.p-address {
    font-weight: 500;
}

.p-tel {
    font-weight: 500;
}

.p-city {
    font-weight: 500;
}

#address {
    font-weight: 300;
}

#city {
    font-weight: 300;
}

#tel {
    font-weight: 300;
}

#max-width {
    max-width: 230px;
}

