{% extends "base.html" %}
{% block title %}Политика конфиденциальности{% endblock %}

{% block content %}

<h4 class="title-policy">Политика конфиденциальности</h4>
<p>
Политика конфиденциальности распространяет свое действие на любые данные, которые веб-ресурс
auto-moshenik.ru получает о людях, перешедших на указанный веб-ресурс.
</p>
<p>
Использование сайта auto-moshenik.ru означает автоматическое согласие посетителя с
изложенной на данной странице Политикой, условиями хранения, обработки информации,
перечисленными в документе.
</p>

<h4 class="title-policy">Типы сведений, получаемых сайтом Авто дилеры auto-moshenik.ru.</h4>
<p>
    Под персональными данными посетителя сайта подразумеваются:
</p>
<ul class="ul-paddingl">
    <li>Личные сведения, указываемые пользователем при написании отзывов об организациях;</li>
    <li>Информация, собираемая сайтом в автоматическом режиме при его использовании, включая: cookies,
        сведения о браузере, время захода, списки посещенных страниц
    </li>
    <li>Данные, которые требуется предоставить в соответствии с направленностью веб-ресурса, включая:
        имя, адрес e-mail, другие виды контактной информации (опционально).
        Действие Политики распространяется только на сайт auto-moshenik.ru. Владельцы сайта на отвечают
        за деятельность пользователя на других веб-ресурсах, на которые он перешел, используя внешние
        или внутренние ссылки.
    </li>
</ul>

<h4 class="title-policy">Цели сбора и обработки личных данных</h4>
<p>
    Сайт auto-moshenik.ru накапливает, хранит и обрабатывается сведения, необходимые
    для предоставления нужной информации посетителям веб-ресурса. Личные данные используются
    строго в соответствии с законом РФ в следующих целях:
</p>
<ul class="ul-paddingl">
    <li>Информирование посетителей;</li>
    <li>Отправка уведомлений, запросов дополнительных данных;</li>
    <li>Обработка заявок пользователей;</li>
    <li>Исследовательская деятельность и аналитика.</li>
</ul>

<h4 class="title-policy">Условия обработки персональных данных</h4>
<p>
    Владельцы сайта auto-moshenik.ru накапливают и обрабатывают сведения о посетителях веб-ресурса
    в соответствии с установленными регламентами сервиса. Возможность передавать личные данные
    допускается только в случаях, предусмотренных законом РФ, включая.
</p>
<p>
    Также передача информации допускается с получения согласия пользователя, или в случае,
    если это необходимо для оказания каких-либо услуг.
    Обработка личных данных владельцами сайта auto-moshenik.ru ведется в соответствии с
    законом РФ «О персональных данных».
</p>

<h4 class="title-policy">Редактирование данных на сайте auto-moshenik.ru</h4>
<p>
    Для внесения исправлений и корректировок в личные данные на сайте авто- auto-moshenik.ru
    пользователю необходимо направить соответствующий запрос владельцам сайта, указав в теме
    запроса: «Удаление, добавление или редактирование данных». Запрос следует направить через
    форму обратной связи или на указанный адрес e-mail.
</p>

<h4 class="title-policy">Защита персональной информации</h4>
<p>
    Администрация сайта предпринимает меры для того, чтобы защитить данные пользователей от
    разглашения третьим лицам, включая: передачу, удаление, блокировку, копирование,
    публичное распространение и другие действия.
</p>

<h4 class="title-policy">Редактирование Политики конфиденциальности</h4>
<p>
    Владельцы сайта auto-moshenik.ru имеют право вносить любые корректировки в настоящий документ
    без уведомления пользователей сайта.
</p>
<p>
    Замечания, предложения, вопросы, касающиеся настоящего документа следует направлять в форме обращения
    в форме обратной связи на сайте или посредством письма на электронную почту.
</p>

<h4 class="title-policy">Согласие на обработку личной информации</h4>
<p>
    Пользователи сайта auto-moshenik.ru автоматически при публикации отзывов соглашаются с
    положениями Политики конфиденциальности и настоящими правилами хранения, сбора и обработки
    персональных данных.
</p>
<p>
    Веб-ресурс auto-moshenik.ru предоставляет пользователям услуги:
</p>
<ul class="ul-paddingl">
    <li>открытый доступ к опубликованных отзывам других пользователей;</li>
    <li>доступ к навигационной системе веб-ресурса;</li>
    <li>возможность размещения отзывов об организациях;</li>
    <li>доступ к общей информации об организациях.</li>
</ul>
<p>
    Доступ к сайту auto-moshenik.ru полностью бесплатный.
</p>

<h4 class="title-policy">Права и обязанности сторон</h4>
<p>
    Владельцы сайта auto-moshenik.ru вправе:
</p>
<ul class="ul-paddingl">
    <li>Вносить изменения в функционал, дизайн, наполнение сайта;</li>
    <li>Вносить изменения в настоящее Соглашение.</li>
</ul>
<p>
    Посетители сайта auto-moshenik.ru вправе:
</p>
<ul class="ul-paddingl">
    <li>Пользоваться услугами, которые предлагает сайт auto-moshenik.ru;</li>
    <li>Обращаться к администрации, используя форму обратной связи;</li>
    <li>Пользоваться сайтов в целях, не запрещенных действующим законодательством РФ;</li>
    <li>Требовать сокрытия личных данных.</li>
</ul>
<p>
    Контент сайта auto-moshenik.ru защищается авторским правом, законом «О товарных знаках»,
    другими правами, относящимися к интеллектуальной собственности.
</p>
<p>
    Опубликованные отзывы пользователей не относятся к персональной информации. Администрация сайта
    может использовать их по своему усмотрению.
</p>
<p>
    Появился новый автосалон? Пишите нам на емайл и мы опубликуем его в ближайшее время.
</p>
<br><br>

{% endblock %}